extends templates/layout

block contentBody
    div.container-fluid
        div.row
            div.col-md-6
            div.col-md-6
                h1= title
                p Welcome to #{title}
                button(type="button", class="btn btn-default", data-toggle="tooltip", data-placement="top", title="Some information about this button!" text="Spara eller nåt!")= "Spara!!"
                div#hello
                
block contentFooter
    span= "BABA!!"
    
    

