extends layout

block content
    h1= title
    p Welcome to #{title}
    <div id="hello"></div>
    script.
        ReactDOM.render(React.createElement(HelloWorld, null), document.getElementById('hello'));
    

