extends templates/layout

block contentBody
    div.container-fluid
        div.row
            div.col-md-6
            div.col-md-6
                div#loginComponent
                
block contentFooter
    
    

