doctype html
html
  head
    title= title
    script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js")
    link(rel='stylesheet', href='dist/bundle.css')
  body
    script(src="dist/components.js")
    block content
    
    
