doctype html
html
  head
    title= title
    link(rel='stylesheet', href='dist/bundle.css')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js")
  body
    block contentBody
    script(src="dist/bundle.js")
    
    
